.container{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: aquamarine;

}
.box {
    height: 150px;
    width: 200px;
    border: 10px solid red;
    box-sizing: border-box;
}
.box1 {
    background: #BB8FCE;
    float: left;
}
.box2{
    background: #fff25f;
    float: left;
}